@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  cursor: none;
}

body {
  overflow-x: hidden;
  background-color: #fff;
}

/* Cursor */

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 15px;
  height: 15px;
  display: none;
}

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  border: 2px solid #e6e6e6;
  display: none;
}
