@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Avegas-Royale-Regular";
  src: url("../public/Avegas-Royale-Regular.ttf");
}

.Avegas-Royale-Regular {
  font-family: "Avegas-Royale-Regular", sans-serif;
  transform: scale(1.1, 1);
}

@font-face {
  font-family: "Avegas-Royale-Bold";
  src: url("../public/Avegas-Royale-Bold.ttf");
}

.Avegas-Royale-Bold {
  font-family: "Avegas-Royale-Bold", sans-serif;
}

@font-face {
  font-family: "Avegas-Royale-Italic";
  src: url("../public/Avegas-Royale-Italic.ttf");
}

.Avegas-Royale-Italic {
  font-family: "Avegas-Royale-Italic", sans-serif;
}

@font-face {
  font-family: "Avegas-Royale-Bold-Italic";
  src: url("../public/Avegas-Royale-Bold-Italic.ttf");
}

.Avegas-Royale-Bold-Italic {
  font-family: "Avegas-Royale-Bold-Italic", sans-serif;
}

.Bodoni {
  font-family: "Bodoni Moda", sans-serif;
}

/* Basic Configurations */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  cursor: none;
}

body {
  overflow-x: hidden;
  background-color: #ece7e1;
  color: #1a1818;
}

/* Highlighted / On Selection Styles */
::-moz-selection {
  background: #1a1818;
  color: #ece7e1;
}
::-webkit-selection {
  background: #1a1818;
  color: #ece7e1;
}
::selection {
  background: #1a1818;
  color: #ece7e1;
}

/* Cursor */
.cursor-dot {
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 15px;
  height: 15px;
  display: none;
}
